# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 8.0.x
    - name: Restore dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build -c Release
    - name: Create ZIP Archive
      run: Compress-Archive -Path "D:/a/CollageMakerWPF/CollageMakerWPF/WpfTestApp/Release/net8.0-windows/publish/*" -DestinationPath ./build.zip
    - name: Upload ZIP as Artifact
      uses: actions/upload-artifact@v3
      with:
        name: build-output
        path: ./build.zip
